<form action="" method="post">
  <div class="mb-3">
    <label for="">Email gửi đến</label>
    <input
      type="email"
      name="emailSendTo"
      class="form-control"
      placeholder="Email sent to..."
      required
    />
  </div>
  <div class="mb-3">
    <label for="">Tiêu đề</label>
    <input
      type="text"
      name="title"
      class="form-control"
      placeholder="Title..."
      required
    />
  </div>
  <div class="mb-3">
    <label for="">Nội dung</label>
    <textarea
      type="text"
      name="content"
      class="form-control"
      placeholder="Content..."
      required
    ></textarea>
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Gửi</button>
  </div>
</form>
